*
!.gitignore
!/README.md

# permitir pasta de imagens do README
!assets/
!assets/**

# permitir config do Obsidian
!.obsidian/
!.obsidian/**

# itens voláteis que NÃO vamos versionar
.obsidian/cache/
.obsidian/workspace*.json
